{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "env": {
    "jest": true,
    "es6": true
  },
  "globals": {
    "document": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js"]
      }
    ]
  }
}
